
<body style="background-color:#ffff">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">Menu</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active"> 
            <a class="nav-link" routerLink="/menu-admin">Home</a>  
        </li>
      </ul>
    </div>
  </nav>


    <mat-form-field appearance="fill">
      <mat-label>Tipo de vehiculo</mat-label>
      <input matInput [(ngModel)]="typeData.name">
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="addVehiculeType()">Añadir</button>

</body>