<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="home">Menu</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active"> 
          <a class="nav-link" routerLink="/menu-admin">Home</a>  
      </li>
    </ul>
  </div>
</nav>

<h2>Rate List</h2>

<div>
  <button (click)="add()">
    Add
  </button>
</div>

<!--<ul class="students">
  <li *ngFor="let s of rates; let i=index;">
    <a routerLink="/rate-details/{{s.id_Rate}}">
      <span class="badge">{{i+1}}</span> {{s.per_Hour}}
    </a>
    <button class="delete" title="delete student"
      (click)="delete(s.id_Rate)">x</button>
  </li>
</ul>-->

<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Usuarios</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>Tipo</th>
            <th>Por Hora</th>
            <th>Por media hora</th>
            <th>Por dia</th>
            <th>Por semana</th>
            <th>Por mes</th>
            <th>Por año</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of rates; let i=index;" class="text-center">
            <td>{{s.id_Rate}}</td>
            <td>{{s.id_Type.name}}</td>
            <td>{{s.per_Hour}}</td>
            <td>{{s.per_HalfHour}}</td>
            <td>{{s.per_Day}}</td>
            <td>{{s.per_Week}}</td>
            <td>{{s.per_Month}}</td>
            <td>{{s.per_Year}}</td>
            
            <td>
              <button class="btn btn-warming">Editar</button>
              <button class="btn btn-info" (click)="delete(s.id_Type)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

