<body style="background-color:#193D64">

  <div class="container">

    <h2>Vehicule_Type</h2>

    <div>
      <button class="section-btn" (click)="add_VehiculeType()">
        Add Vehicule_Type
      </button>
    </div>

    <!--<ul class="students">
    <li *ngFor="let s of vehiculesType; let i=index;">
      <a routerLink="/vehicule-type-details/{{s.id_Type}}">
        <span class="badge">{{i+1}}</span> {{s.name}}
      </a>
      <button class="delete" title="delete User"
        (click)="delete(s.id_Type)">x</button>
    </li>
  </ul>-->

    <div class="container">
      <div class="card">
        <div class="card-header">
          <h3>Usuarios</h3>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr class="text-center">
                <th>ID</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of vehiculesType; let i=index;" class="text-center">
                <td>{{s.id_Type}}</td>
                <td>{{s.name}}</td>
                <td>
                  <button class="btn btn-warming">Editar</button>
                  <button class="btn btn-info" (click)="delete(s.id_Type)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</body>