<body style="background-color:#193D64">

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="home">Menu</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active"> 
              <a class="nav-link" routerLink="/menu-admin">Home</a>  
          </li>
        </ul>
      </div>
    </nav>
    <div style="background-color:#193D64">
      <h2>Parking List</h2>

      <div>
        <button class="section-btn" (click)="add()">
          Add
        </button>
      </div>

      <div class="container">
        <div class="card">
          <div class="card-header">
            <h3>Parqueos</h3>
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr class="text-center">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Capacidad</th>
                  <th>Provincia</th>
                  <th>Distrito</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of parkings; let i=index;" class="text-center">
                  <td>{{s.id_Parking}}</td>
                  <td>{{s.name}}</td>
                  <td>{{s.capacity}}</td>
                  <td>{{s.province}}</td>
                  <td>{{s.district}}</td>
                  <td>
                    <button class="btn btn-warming">Editar</button>
                    <button class="btn btn-info" (click)="delete(s.id_Parking)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <a href='/user-list'>Users</a>
        <br>
        <a href='/vehicule-list'>Vehicules</a>
        <br>
        <a href='/vehicule-type-list'>Vehicule_Type</a>
        <br>
        <a href='/rate-list'>Rate</a>
        <br>
        <a href='/role-list'>Role</a>
        <br>
        <a href='/space-list'>Space</a>
      </div>
    </div>

  </div>

</body>