<div>
    <h2>User Add</h2>
    <label>Name:
      <input [(ngModel)]="userData.Name"  placeholder="Name User"/>
    </label><br>
    <label>LastName:
      <input [(ngModel)]="userData.LastName"  placeholder="LastName"/>
    </label><br>
    <label>Telephone:
      <input [(ngModel)]="userData.Telephone"  placeholder="Telephone"/>
    </label><br>
    <label>Adress:
      <input [(ngModel)]="userData.Adress"  placeholder="Adress"/>
    </label><br>
    <label>Email:
      <input [(ngModel)]="userData.Email"  placeholder="Email"/>
    </label><br>
    <label>Password:
      <input [(ngModel)]="userData.Password"  placeholder="Password"/>
    </label><br>
    <label>Id_role:
      <input [(ngModel)]="userData.Id_role"  placeholder="Id_role"/>
    </label><br>
  
      <button (click)="addUser()">Save</button>
      
  </div>
  