<body style="background-color:#193D64">

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="home">Menu</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active"> 
              <a class="nav-link" routerLink="/menu-admin">Home</a>  
          </li>
        </ul>
      </div>
    </nav>

    <!--<div>

    <h2>User Add</h2>
    <label>Name:
      <input [(ngModel)]="userData.name"  placeholder="Name User"/>
    </label><br>
    <label>LastName:
      <input [(ngModel)]="userData.lastName"  placeholder="LastName"/>
    </label><br>
    <label>Telephone:
      <input [(ngModel)]="userData.telephone"  placeholder="Telephone"/>
    </label><br>
    <label>Adress:
      <input [(ngModel)]="userData.address"  placeholder="Adress"/>
    </label><br>
    <label>Email:
      <input [(ngModel)]="userData.email"  placeholder="Email"/>
    </label><br>
    <label>Password:
      <input [(ngModel)]="userData.password"  placeholder="Password"/>
    </label><br>
    <label>Id_role:
      <input [(ngModel)]="userData.id_Role"  placeholder="Id_role"/>
    </label><br>
  
      <button (click)="addUser()">Save</button>
------------
      <mat-form-field appearance="fill" >
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="userData.name">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Apellidos</mat-label>
    <input type="number" [(ngModel)]="userData.lastName">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Telefono</mat-label>
    <input matInput [(ngModel)]="userData.telephone">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Direccion</mat-label>
    <input matInput [(ngModel)]="userData.address">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Correo</mat-label>
    <input matInput [(ngModel)]="userData.email">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput [(ngModel)]="userData.password">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Role</mat-label>
    <input matInput [(ngModel)]="userData.id_Role">
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" (click)="addUser()">Añadir</button>
      
  </div>-->

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="userData.name">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Apellidos</mat-label>
      <input matInput [(ngModel)]="userData.lastName">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Telefono</mat-label>
      <input matInput [(ngModel)]="userData.telephone">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Direccion</mat-label>
      <input matInput [(ngModel)]="userData.address">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Correo</mat-label>
      <input matInput [(ngModel)]="userData.email">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput [(ngModel)]="userData.password">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <input matInput [(ngModel)]="userData.id_Role">
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" (click)="addUser()">Añadir</button>

  </div>

</body>