<!--<div>
    <h2>User Add</h2>
    <label>Name:
      <input [(ngModel)]="userData.name"  placeholder="Name User"/>
    </label><br>
    <label>LastName:
      <input [(ngModel)]="userData.lastName"  placeholder="LastName"/>
    </label><br>
    <label>Telephone:
      <input [(ngModel)]="userData.telephone"  placeholder="Telephone"/>
    </label><br>
    <label>Adress:
      <input [(ngModel)]="userData.address"  placeholder="Adress"/>
    </label><br>
    <label>Email:
      <input [(ngModel)]="userData.email"  placeholder="Email"/>
    </label><br>
    <label>Password:
      <input [(ngModel)]="userData.password"  placeholder="Password"/>
    </label><br>
    <label>Id_role:
      <input [(ngModel)]="userData.id_Role"  placeholder="Id_role"/>
    </label><br>
  
      <button (click)="addUser()">Save</button>
------------
      <mat-form-field appearance="fill" >
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="userData.name">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Apellidos</mat-label>
    <input type="number" [(ngModel)]="userData.lastName">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Telefono</mat-label>
    <input matInput [(ngModel)]="userData.telephone">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Direccion</mat-label>
    <input matInput [(ngModel)]="userData.address">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Correo</mat-label>
    <input matInput [(ngModel)]="userData.email">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput [(ngModel)]="userData.password">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Role</mat-label>
    <input matInput [(ngModel)]="userData.id_Role">
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" (click)="addUser()">Añadir</button>
      
  </div>-->
  
  <mat-form-field appearance="fill" >
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="userData.name">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill" >
    <mat-label>Apellidos</mat-label>
    <input matInput [(ngModel)]="userData.lastName">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Telefono</mat-label>
    <input matInput [(ngModel)]="userData.telephone">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Direccion</mat-label>
    <input matInput [(ngModel)]="userData.address">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Correo</mat-label>
    <input matInput [(ngModel)]="userData.email">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput [(ngModel)]="userData.password">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Role</mat-label>
    <input matInput [(ngModel)]="userData.id_Role">
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" (click)="addUser()">Añadir</button>
