<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="home">Menu</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active"> 
          <a class="nav-link" routerLink="/menu-admin">Home</a>  
      </li>
    </ul>
  </div>
</nav>

<div>
    <h2>Rate Add</h2>
    <label>id_Type:
      <input [(ngModel)]="rateData.id_Type"  placeholder="id_Type"/>
    </label><br>
    <label>per_Hour:
      <input [(ngModel)]="rateData.per_Hour"  placeholder="per_Hour"/>
    </label><br>
    <label>per_HalfHour:
      <input [(ngModel)]="rateData.per_HalfHour"  placeholder="per_HalfHour"/>
    </label><br>
    <label>per_Day:
      <input [(ngModel)]="rateData.per_Day"  placeholder="per_Day"/>
    </label><br>
    <label>per_Week:
        <input [(ngModel)]="rateData.per_Week"  placeholder="per_Week"/>
      </label><br>

      <label>per_Month:
        <input [(ngModel)]="rateData.per_Month"  placeholder="per_Month"/>
      </label><br>

      <label>per_Year:
        <input [(ngModel)]="rateData.per_Year"  placeholder="per_Year"/>
      </label><br>
  
      <button (click)="addRate()">Save</button>
      
  </div>