<body style="background-color:#ffff">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">Menu</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active"> 
            <a class="nav-link" routerLink="/menu-admin">Home</a>  
        </li>
      </ul>
    </div>
  </nav>
   

    <mat-form-field appearance="fill">
      <mat-label>Placa</mat-label>
      <input matInput [(ngModel)]="vehiculeData.license_Plate">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Color</mat-label>
      <input matInput [(ngModel)]="vehiculeData.color">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Marca</mat-label>
      <input matInput [(ngModel)]="vehiculeData.brand">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Usuario id</mat-label>
      <input matInput [(ngModel)]="vehiculeData.id_User">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Tipo id</mat-label>
      <input matInput [(ngModel)]="vehiculeData.id_Type">
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" (click)="addVehicule()">Añadir</button>

</body>