<div>
    <h2>User Add</h2>
    <label>Placa:
      <input [(ngModel)]="vehiculeData.license_plate"  placeholder="Placa"/>
    </label><br>
    <label>color:
      <input [(ngModel)]="vehiculeData.color"  placeholder="Color"/>
    </label><br>
    <label>Marca:
      <input [(ngModel)]="vehiculeData.brand"  placeholder="Marca"/>
    </label><br>
    <label>ID User:
      <input [(ngModel)]="vehiculeData.Id_User"  placeholder="Id User"/>
    </label><br>
    <label>Tipo:
      <input [(ngModel)]="vehiculeData.Id_Type"  placeholder="Tipo"/>
    </label><br>

  
      <button (click)="addVehicule()">Save</button>
      
  </div>
