<!--<div>
    <h2>Role Add</h2>
    <label>Name:
      <input [(ngModel)]="roleData.name"  placeholder="Name Role"/>
    </label><br>
  
      <button (click)="addRole()">Save</button>
      
  </div>-->

<body style="background-color:#193D64">

  <div class="container">

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="roleData.name">
    </mat-form-field>


    <button mat-raised-button color="accent" (click)="addRole()">Añadir</button>

  </div>

</body>