<div *ngIf="rate" class="Parking">
    <h2>{{rate.id_Type.name| uppercase}} Details</h2>
    <div><span>Per_Hour:</span>{{rate.per_Hour}}</div>
    <div><span>Per_HalfHour: </span>{{rate.per_HalfHour}}</div>
    <div><span>Per_Day: </span>{{rate.per_Day}}</div>
    <div><span>Per_Week: </span>{{rate.per_Week}}</div>
    <div><span>Per_Month: </span>{{rate.per_Month}}</div>
    <div><span>Per_Year: </span>{{rate.per_Year}}</div>
    <div>
      <button routerLink="/student-update/{{rate.id_Rate}}">
        Edit
      </button>
    </div>
</div>
