<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="home">Menu</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active"> 
          <a class="nav-link" routerLink="/menu-admin">Home</a>  
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="rate" class="Parking">
    <h2>{{rate.id_Type.name| uppercase}} Details</h2>
    <div><span>Per_Hour:</span>{{rate.per_Hour}}</div>
    <div><span>Per_HalfHour: </span>{{rate.per_HalfHour}}</div>
    <div><span>Per_Day: </span>{{rate.per_Day}}</div>
    <div><span>Per_Week: </span>{{rate.per_Week}}</div>
    <div><span>Per_Month: </span>{{rate.per_Month}}</div>
    <div><span>Per_Year: </span>{{rate.per_Year}}</div>
    <div>
      <button routerLink="/student-update/{{rate.id_Rate}}">
        Edit
      </button>
    </div>
</div>
