<body style="background-color:#ffff">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">Menu</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active"> 
            <a class="nav-link" routerLink="/menu-admin">Home</a>  
        </li>
      </ul>
    </div>
  </nav>


    <mat-form-field appearance="fill">
      <mat-label>Numero de parqueo</mat-label>
      <input matInput [(ngModel)]="spaceData.number">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Tipo de vehiculo</mat-label>
      <input matInput [(ngModel)]="spaceData.id_Type">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <input matInput [(ngModel)]="spaceData.status">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Vehiculo id</mat-label>
      <input matInput [(ngModel)]="spaceData.id_Vehicule">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Parqueo</mat-label>
      <input matInput [(ngModel)]="spaceData.id_Parking">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Hora llegada</mat-label>
      <input type="datetime-local" matInput [(ngModel)]="spaceData.check_In">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Precio</mat-label>
      <input matInput [(ngModel)]="spaceData.id_Rate">
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" (click)="addSpace()">Añadir</button>

</body>