<!--<div>
    <h2>Space Add</h2>
    <label>Number:
      <input [(ngModel)]="spaceData.number"  placeholder="number space"/>
    </label><br>
    <label>id_Type:
      <input [(ngModel)]="spaceData.id_Type"  placeholder="id_Type"/>
    </label><br>
    <label>status:
      <input [(ngModel)]="spaceData.status"  placeholder="status"/>
    </label><br>
    <label>id_vehicule:
      <input [(ngModel)]="spaceData.id_Vehicule"  placeholder="id_vehicule"/>
    </label><br>
    <label>id_Parking:
      <input [(ngModel)]="spaceData.id_Parking"  placeholder="id_Parking"/>
    </label><br>
    <label>check_In:
      <input [(ngModel)]="spaceData.check_In" type="datetime"  placeholder="check_In"/>
    </label><br>
    <label>id_Rate:
      <input [(ngModel)]="spaceData.id_Rate"  placeholder="id_Rate"/>
    </label><br>
  
      <button (click)="addSpace()">Save</button>
      
  </div>-->

  <mat-form-field appearance="fill" >
    <mat-label>Numero de parqueo</mat-label>
    <input matInput [(ngModel)]="spaceData.number">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Tipo de vehiculo</mat-label>
    <input matInput [(ngModel)]="spaceData.id_Type">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Status</mat-label>
    <input matInput [(ngModel)]="spaceData.status">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Vehiculo id</mat-label>
    <input matInput [(ngModel)]="spaceData.id_Vehicule">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Parqueo</mat-label>
    <input matInput [(ngModel)]="spaceData.id_Parking">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Hora llegada</mat-label>
    <input type="datetime-local" matInput  [(ngModel)]="spaceData.check_In" >
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Precio</mat-label>
    <input matInput [(ngModel)]="spaceData.id_Rate">
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" (click)="addSpace()">Añadir</button>
