<div>
    <h2>User Update</h2>
    <label>Name:
      <input [(ngModel)]="userData.name"  placeholder="Name User"/>
    </label><br>
    <label>LastName:
      <input [(ngModel)]="userData.lastName"  placeholder="LastName"/>
    </label><br>
    <label>Telephone:
      <input [(ngModel)]="userData.telephone"  placeholder="Telephone"/>
    </label><br>
    <label>Adress:
      <input [(ngModel)]="userData.address"  placeholder="Adress"/>
    </label><br>
    <label>Email:
      <input [(ngModel)]="userData.email"  placeholder="Email"/>
    </label><br>
    <label>Password:
      <input [(ngModel)]="userData.password"  placeholder="Password"/>
    </label><br>
    <label>Id_role:
      <input [(ngModel)]="userData.id_Role"  placeholder="Id_role"/>
    </label><br>
  
      <button (click)="updateUser()">Save</button>
      
  </div>