<form action="action_page.php" method="post" style="background-color:#193D64">
   
  <label for="psw"><b>Login</b></label>
  
    <div class="container">
      <label for="uname"><b>UserEmail</b></label>
      <input type="text" [(ngModel)]="userData.email" placeholder="Enter UserEmail" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="userData.password" name="password" name="password" id="password" required>
  
      <button (click)="getUser()" >Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#193D64">
      <button type="button" class="cancelbtn">Cancel</button>
    
    </div>
  </form>